{
  "twitch":{
    "enabled":"true/false",
    "username":"twitch username (to avoid double messages)",
    "oauth":"twtich oauth key",
    "channel":"owner channel with # infront ie. #andrejsavikin",
    "prefix":"[%s:%u]"
  },
  "mixer":{
    "enabled":"true/false",
    "username":"twitch username (to avoid double messages)",
    "token":"get token from the link that says [access: 'Click here to get your Token!'] from https://dev.mixer.com/tutorials/chatbot.html ",
    "channel":"channel name ie. Sava"
  },
  "discord":{
    "enabled":"true/false",
    "token":"bot user token from https://discordapp.com/developers/applications/me",
    "channelID":"id of a created text room on discord ie. streamchat"
  },
  "hitbox":{
    "enabled":"true/false",
    "username":"",
    "password":"",
    "channel":"lowercase username"
  },
  "pidFile":"false/filename"
}
